[submodule "wp-graphql"]
	path = wp-graphql
	url = git@github.com:wp-graphql/wp-graphql.git
[submodule "wp-graphql-acf"]
	path = wp-graphql-acf
	url = git@github.com:wp-graphql/wp-graphql-acf.git
[submodule "wp-graphiql"]
	path = wp-graphiql
	url = git@github.com:wp-graphql/wp-graphiql.git
[submodule "wp-graphql-jwt-authentication"]
	path = wp-graphql-jwt-authentication
	url = git@github.com:wp-graphql/wp-graphql-jwt-authentication.git
